<section>
    <div>
        <h2>CARD1</h2>
        <img src="" alt="equipment">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi earum suscipit voluptates quia qui illum, minima libero repudiandae, voluptate mollitia inventore labore. Neque animi a doloremque asperiores at aspernatur iste.</p>
        <button>Take</button>
    </div>
    <div>
        <h2>CARD2</h2>
        <img src="" alt="equipment">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi earum suscipit voluptates quia qui illum, minima libero repudiandae, voluptate mollitia inventore labore. Neque animi a doloremque asperiores at aspernatur iste.</p>
        <button>Take</button>
    </div>
    <div>
        <h2>CARD3</h2>
        <img src="" alt="equipment">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi earum suscipit voluptates quia qui illum, minima libero repudiandae, voluptate mollitia inventore labore. Neque animi a doloremque asperiores at aspernatur iste.</p>
        <button>Take</button>
    </div>
    <div>
        <h2>CARD4</h2>
        <img src="" alt="equipment">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi earum suscipit voluptates quia qui illum, minima libero repudiandae, voluptate mollitia inventore labore. Neque animi a doloremque asperiores at aspernatur iste.</p>
        <button>Take</button>
    </div>

</section>
